[editable] {
	border-bottom: dashed 1px #428bca;
	color: #428bca;
	text-decoration: none;
	cursor: pointer;
}
[editable]:hover {
	text-decoration: none;
}
[editable]:empty::before {
	content: 'Not set';
	color: #dd1144;
	font-style: italic;
}
